/build
/CHANGELOG
/data
/vcpkg_installed
/.**
/tools
!/.clang-format
!/.clang-tidy
!/.gitattributes
!/.gitmodules
!/.gitignore

# Ignore all spv folders under any shaders directory
**/shaders/**/spv/
**/spv/


*.ply
*.obj

/docs/training-flow.dot
